.searchForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.searchInput {
  flex: 1;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--input-border-light);
  background-color: var(--input-bg-light);
  color: var(--text-color-light);
  transition: all var(--transition-speed);
  box-shadow: var(--shadow-light);
}

.searchButton {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: var(--button-bg-light);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all var(--transition-speed);
}

.searchButton:hover {
  background-color: var(--button-hover-light);
  transform: translateY(-2px);
}

/* Dark mode styles */
:global(.dark-mode) .searchInput {
  background-color: var(--input-bg-dark);
  border-color: var(--input-border-dark);
  color: var(--text-color-dark);
  box-shadow: var(--shadow-dark);
}

:global(.dark-mode) .searchButton {
  background-color: var(--button-bg-dark);
}

:global(.dark-mode) .searchButton:hover {
  background-color: var(--button-hover-dark);
}

@media (max-width: 480px) {
  .searchForm {
    flex-direction: column;
  }
  
  .searchInput, .searchButton {
    width: 100%;
  }
}